<h1>Accepted Trades</h1>
<div *ngFor="let trade of acceptedTrades$ | async">
  <div class="trade-container">
    <ng-container *ngIf="trade.InitiatedOffer && trade.RequestedOffer">
      <h2 class="trade-title"> {{getNameOfCross(trade.InitiatedOffer,trade.RequestedOffer)}}</h2>
      <div class="trade-container-cards">
        <app-nepenthes-card-text [offer]="trade.InitiatedOffer">
          <div slot="afterContent">


          </div>>
        </app-nepenthes-card-text>
        <app-nepenthes-card-text [offer]="trade.RequestedOffer">

        </app-nepenthes-card-text>
      </div>
    </ng-container>
  </div>
</div>
<h1>Refused Trades</h1>
<div *ngFor="let trade of declinedTrades$ | async">
  <div class="trade-container">
    <ng-container *ngIf="trade.InitiatedOffer && trade.RequestedOffer">
      <h2 class="trade-title"> {{getNameOfCross(trade.InitiatedOffer,trade.RequestedOffer)}}</h2>
      <div class="trade-container-cards">
        <app-nepenthes-card-text [offer]="trade.InitiatedOffer">
        </app-nepenthes-card-text>
        <app-nepenthes-card-text [offer]="trade.RequestedOffer"></app-nepenthes-card-text>
      </div>
    </ng-container>

  </div>
</div>

