<!-- app.component.html -->
<mat-form-field>
  <mat-label>Select Hybrid Type</mat-label>
  <mat-select (selectionChange)="onHybridTypeChange($event)">
    <mat-option [value]="hybridArts.HYBRID">Hybrid</mat-option>
    <mat-option [value]="hybridArts.MULTIHYBRIDD">MultiHybrid</mat-option>
  </mat-select>
</mat-form-field>
<!-- clone.html -->
<div  fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
  <mat-form-field style="width: 400px;">
            <textarea #main
                      (keyup)="onInputChange($event)"
                      placeholder="Type Hybridname"
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5">
            </textarea>

  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <mat-form-field style="width: 200px;">
        <textarea #firstInput
                  placeholder="Mother"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    <mat-form-field style="width: 200px;">
        <textarea #secondInput
          matInput
                  placeholder="Father"

                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </div>
</div>


