<div class="filter-container">

  <mat-card class="filter-card">
    <!-- Date Box -->
    <div *ngIf="dateFilter" class="search-container">
      <mat-label class="toggle-group-label">Filter by Date:</mat-label>
      <mat-button-toggle-group  [(ngModel)]="selectedDates" multiple>
        <mat-button-toggle *ngFor="let date of uniqueDates" (change)="updateFilter()" value="{{date}}">{{date}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-card>
    <mat-divider></mat-divider>


  <mat-card class="filter-card">
    <!-- Toggle Buttons for Region -->
    <div *ngIf="regionFilter" class="toggle-group-container">
      <mat-label class="toggle-group-label">Filter by Region:</mat-label>
      <mat-button-toggle-group (change)="updateFilter()" [(ngModel)]="selectedRegions" multiple>
        <mat-button-toggle value="USA">USA</mat-button-toggle>
        <mat-button-toggle value="Europe">EU</mat-button-toggle>
        <mat-button-toggle value="Asia">Asia</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-divider></mat-divider>

    <!-- Toggle Buttons for Sex -->
    <div *ngIf="sexFilter" class="toggle-group-container">
      <mat-label class="toggle-group-label">Filter by Sex:</mat-label>
      <mat-button-toggle-group (change)="updateFilter()" [(ngModel)]="selectedSexes" multiple>
        <mat-button-toggle value="Male">Male</mat-button-toggle>
        <mat-button-toggle value="Female">Female</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider></mat-divider>

    <!-- Search Box -->
    <div *ngIf="searchFilter" class="search-container">
      <mat-form-field appearance="outline" class="search-box">
        <mat-label>Search Offers</mat-label>
        <input (input)="updateFilter()" matInput  [(ngModel)]="searchTerm"/>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>




  </mat-card>
</div>
