<h1>Trades for you to Answer</h1>
<div *ngFor="let trade of myTradesToAnswerFiltered$ | async">
  <div class="trade-container">
    <ng-container *ngIf="trade.InitiatedOffer && trade.RequestedOffer">
      <h2 class="trade-title"> {{getNameOfCross(trade.InitiatedOffer,trade.RequestedOffer)}}</h2>
      <div class="trade-container-cards">
        <app-nepenthes-basecard [offer]="trade.InitiatedOffer">
        </app-nepenthes-basecard>
        <app-nepenthes-basecard [offer]="trade.RequestedOffer">
          <button mat-button class="success"  (click)="answerTrade(true,trade.id)" mat-raised-button>Accept</button>
          <button mat-button class="danger" (click)="answerTrade(false,trade.id)" mat-raised-button>Reject</button>

        </app-nepenthes-basecard>
      </div>
    </ng-container>
  </div>
</div>

<h1>Open Trades you are waiting for responses</h1>
<div *ngFor="let trade of myInitiatedTrades$ | async">
  <div class="trade-container">
    <ng-container *ngIf="trade.InitiatedOffer && trade.RequestedOffer">
      <h2 class="trade-title"> {{getNameOfCross(trade.InitiatedOffer,trade.RequestedOffer)}}</h2>
      <div class="trade-container-cards">
        <app-nepenthes-basecard [offer]="trade.InitiatedOffer"></app-nepenthes-basecard>
        <app-nepenthes-basecard [offer]="trade.RequestedOffer"></app-nepenthes-basecard>
      </div>
    </ng-container>
</div>
</div>
