<div *ngIf="status == 'rate'; then rateTemplate else otherTemplate">
</div>
<ng-template #rateTemplate>
  <app-trade-ratings-overview></app-trade-ratings-overview>
</ng-template>

<ng-template #otherTemplate>


<mat-label class="toggle-group-label">Filter by Date:</mat-label>
  <br>
  <mat-button-toggle-group multiple="false">
    <mat-button-toggle *ngFor="let date of dates$ | async" (click)="updateByDate(date)">
      {{date}}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="status == 'pending'; then thenTemplateName else elseTemplateName">
  </div>

  <ng-template #thenTemplateName>
    <app-user-trades-open  [allTrades]="trades$"></app-user-trades-open>
  </ng-template>

  <ng-template #elseTemplateName>
    <app-user-trades-closed [allTrades]="trades$"></app-user-trades-closed>
  </ng-template>

</ng-template>

