<mat-toolbar color="primary">
  <span>Nepflow</span>
  <a mat-button [routerLink]="profileRoute">Profile</a>
  <a mat-button [routerLink]="newNepenthesRoute">add Nepenthes</a>
  <a mat-button [routerLink]="newCloneRoute">add Clone</a>
  <a mat-button [routerLink]="userAddCloneToProfile">add Clone User</a>
  <a mat-button [routerLink]="myPlantsRoute">My Plants</a>
  <a mat-button [routerLink]="nepenthesAdd">Add Plant</a>
  <a mat-button [routerLink]="hybridAdd">Add Hybrid</a>

</mat-toolbar>



<div class="container">
  <router-outlet></router-outlet>
</div>
