<mat-toolbar>
  <h1>Nepflow</h1>
  <a mat-button [routerLink]="profileRoute">Profile</a>
  <button mat-button [matMenuTriggerFor]="addNepenthes">add Nepenthes</button>
  <mat-menu #addNepenthes="matMenu">
    <button mat-menu-item [routerLink]="quickAdd">Quick Add</button>
    <button mat-menu-item [routerLink]="newNepenthesRoute">Guided Add </button>
  </mat-menu>



  <!-- Growlist Submenu -->
  <button mat-button [matMenuTriggerFor]="growlistMenu">Growlist</button>
  <mat-menu #growlistMenu="matMenu">
    <button mat-menu-item [routerLink]="myGrowlistRoute">My Growlist</button>
    <button mat-menu-item [routerLink]="publicGrowlistsRoute">Public Growlists</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="tradeMenu">Trades</button>
  <mat-menu #tradeMenu="matMenu">
    <button mat-menu-item [routerLink]="closedTrades">Closed</button>
    <button mat-menu-item [routerLink]="pendingTrades">Pending</button>
    <button mat-menu-item [routerLink]="rateTrades">Rate</button>

  </mat-menu>


  <a mat-button [routerLink]="pollenOffersRoute">Pollen offers</a>

  <div *ngIf="isLoggedIn; else loggedOut">
    Welcome back, {{username}}
  </div>

  <ng-template #loggedOut>
    <button mat-raised-button color="primary" (click)="authService.login()" id="login">Login</button>
  </ng-template>

<app-dark-light-theme></app-dark-light-theme>
</mat-toolbar>

<div class="container">

  <router-outlet></router-outlet>
</div>
