
  <!-- Gender Selection Button Group -->
  <div class="button-group-section">
    <mat-button-toggle-group
      name="gender"
      [(ngModel)]="selectedGender"
      aria-label="Gender Selection"
      appearance="standard">
      <mat-button-toggle value="">Unknown</mat-button-toggle>
      <mat-button-toggle value="Male">Male</mat-button-toggle>
      <mat-button-toggle value="Female">Female</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Clone Input Field with Autocomplete -->
  <div class="form-section">
    <mat-form-field class="example-full-width">
      <mat-label>Clone Id</mat-label>
      <input matInput
             type="text"
             [formControl]="cloneId"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let clone of filteredOptions | async"
                    [value]="clone.cloneId"
                    (click)="setCloneValues()">
          {{ clone.nickname ? clone.cloneId + ' (' + clone.nickname + ')' :
          (clone.sex ? clone.cloneId + ' (' + clone.sex + ')' :
            clone.cloneId) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <!-- Producer Input Field -->
  <div class="form-section">
    <mat-form-field>
      <mat-label>Producer</mat-label>
      <input matInput [formControl]="producerControl" type="text">
    </mat-form-field>
  </div>
  <!-- Location Input Field -->
  <div class="form-section">
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput [formControl]="locationControl" type="text">
    </mat-form-field>
  </div>

  <!-- Description Input Field -->
  <div class="form-section">
    <mat-form-field>
      <mat-label>Description/Additional Information</mat-label>
      <textarea [formControl]="descriptionControl" matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </div>
  <mat-button-toggle-group
    name="fontStyle"
    aria-label="Font Style"
    appearance="standard">
    <mat-button-toggle (change)="setCloneValues();">IV</mat-button-toggle>
    <mat-button-toggle (change)="setCloneValues();">IC</mat-button-toggle>
  </mat-button-toggle-group>
