$pollenoffer-height: 400px
$pollenoffer-width: 400px

mat-card
  height: $pollenoffer-height
  width: $pollenoffer-width

.pollen-offer-container
  width: 400px
  height: 500px
  margin-right: 10px
  margin-bottom: 50px
  display: flex
  flex-direction: column

.pollen-offer-containers
  display: flex
  flex-wrap: wrap

app-nepenthes-card-simple
  --container-height: #{$pollenoffer-height}
  --container-widht: #{$pollenoffer-width}



