.pollen-offer-container
  padding-bottom: 100px
  display: flex

.pollen-offer-containers
  display: flex
  flex-wrap: wrap



app-nepenthes-card-simple
  --mat-card-height: 400px
  --mat-card-width: 400px


app-nepenthes-card-text
  --mat-card-height: 650px
  --mat-card-width: 400px
