.container
  display: flex
  flex-direction: column
  align-items: center
  width: 100%


.filterbox
  width: 100%
  max-width: 1200px
  margin-bottom: 20px


  app-filterbox
    width: 100%


.content
  width: 100%
  max-width: 1200px

mat-expansion-panel
  width: 100%
