<div class="container">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Filters</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="filterbox">
      <app-filterbox (filteredElements)="onFiltered($event)" [offerContainers$]="otherPollenOffers$"></app-filterbox>
    </div>
  </mat-expansion-panel>

  <div class="content">
    <div class="card" *ngFor="let container of (filteredPollenOffers$ | async)">
      <div *ngIf="container.pollenOffers?.length" class="date-header">
        <h2>Pollen Offers in: {{ container.date }}</h2>
      </div>
      <div class="pollen-offer-containers">
        <div *ngFor="let offer of container.pollenOffers" class="pollen-offer-container">
          <app-nepenthes-card-simple [offer]="offer">

            <app-nepenthes-card-dropdown
              slot="afterContent"
              [lookup]="lookup" [selectedOffer]="offer"
                                         [myPollenOffers]="myPollenOffers$">

            </app-nepenthes-card-dropdown>

          </app-nepenthes-card-simple>
        </div>
      </div>
    </div>
  </div>
</div>
