<mat-form-field>
  <mat-label>Select Hybrid Type</mat-label>
  <mat-select (selectionChange)="onHybridTypeChange($event)">
    <mat-option value="Hybrid">Hybrid</mat-option>
    <mat-option value="MultiHybrid">MultiHybrid</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Select Clone Type</mat-label>
  <mat-select (selectionChange)="onCloneTypeChange($event)">
    <mat-option value="all">All</mat-option>
    <mat-option value="iv">IV</mat-option>
    <mat-option value="ic">IC</mat-option>
  </mat-select>
</mat-form-field>
