<div *ngIf=" (isGrowlistPublicSubject |async )|| (isOwnGrowlist$ | async); then thenBlock else elseBlock"></div>


<ng-template #thenBlock>

  <div *ngIf="isOwnGrowlist$|async">
    <div class="growlist-toggle">
      <mat-slide-toggle [checked]="growlistSubject.value.isPublic"
                        (change)="updateGrowlistVisibility()"></mat-slide-toggle>
      <span
            class="switch-label">Growlist is currently:  {{ this.growlistSubject.value.isPublic ? '   public' : '  private' }}</span>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div style="display:flex; flex-wrap:wrap; justify-content:flex-start">
    <div *ngFor="let offer of specimens;let i = index">
      <div class="container">
        <mat-card appearance="outlined" class="pollen-offer-card">
          <mat-card-header>
            <mat-card-title>{{ offer.nepenthesName || 'No Name' }}</mat-card-title>
            <mat-card-subtitle>Location: {{ offer.Location || 'Unknown' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-lg-image
                 [src]="offer.filelocation || 'assets/placeholder.jpg'"
                 alt="{{ offer.nepenthesName }}"
                 (click)="onImageClick(i)">
            <input
              type="file"
              accept="image/*"
              (change)="onFileSelected($event, i, offer.specimenId)"
              #fileInput
              style="display: none;">
            <p><strong>Origin:</strong> {{ offer.producer || 'N/A' }}</p>
            <p><strong>Location:</strong> {{ offer.Location || 'N/A' }}</p>
            <p><strong>Sex:</strong> {{ offer.sex || 'N/A' }}</p>
            <ng-content>
            </ng-content>
          </mat-card-content>
          <mat-action-row *ngIf="isOwnGrowlist$ | async">
            <br>
            <button mat-button (click)="deleteSpecimen(i,offer.specimenId)" mat-raised-button color="warn">Delete
            </button>
            <p><span>open Pollen exchange?:</span>
              <mat-slide-toggle [checked]="specimens[i].isFlowering" (change)="changeOfferStatus(i)"></mat-slide-toggle>
            </p>
          </mat-action-row>
        </mat-card>

      </div>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <h1>This Growlist is Private</h1>
</ng-template>


