

<div *ngIf="isOwnGrowlist || growlistSubject.value.isPublic; then thenBlock else elseBlock"></div>


<ng-template #thenBlock>

  <div class="growlist-toggle" *ngIf="isOwnGrowlist">
    <mat-slide-toggle [checked]="growlistSubject.value.isPublic" (change)="updateGrowlistVisibility()"> </mat-slide-toggle>
    <span class="switch-label">Growlist is currently:  {{ this.growlistSubject.value.isPublic? '   public' : '  private' }}</span>
  </div>
  <mat-divider></mat-divider>
  <div style="display:flex; flex-wrap:wrap; justify-content:flex-start">
    <div *ngFor="let specimen of specimens;let i = index">
      <div class="container">
        <mat-card style="width:300px">
          <mat-card-header>{{specimen.nepenthesName}}</mat-card-header>
          <img mat-card-lg-image
               [src]="specimen.filelocation || 'assets/placeholder.jpg'"
               alt="{{ specimen.nepenthesName }}"
               (click)="onImageClick(i)" layout-fill>
          <input
            type="file"
            accept="image/*"
            (change)="onFileSelected($event, i, specimen.specimenId)"
            #fileInput
            style="display: none;">
        </mat-card>

        <mat-card-content>
          <p><strong>Clone Id:</strong> {{ specimen.cloneId }}</p>
          <p><strong>Sex:</strong> {{ specimen.sex }}</p>
        </mat-card-content>


        <mat-action-row>

          <button (click)="deleteSpecimen(i,specimen.specimenId)" mat-raised-button color="warn">Delete</button>
          <p> <span *ngIf="isOwnGrowlist">open Pollen exchange?:</span> <mat-slide-toggle  [checked]="specimens[i].isFlowering" (change)="changeOfferStatus(i)" ></mat-slide-toggle></p>

        </mat-action-row>

      </div>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <h1>This Growlist is Private</h1>
</ng-template>
